.skill-list-container{
    display: flex;
    padding-left: 1rem;
}

.skill-list-container p{
    font-size: 1rem;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 15px;
    margin-top: .5rem;
    margin-right: .5rem;
}
