.contact-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  background: url(../assets/earth.svg) no-repeat;
  background-size: 100%;
  background-position: 50% -38%;
}
.sat-container {
  position: absolute;
  top: 2vh;
  left: 10vw;
}
.sat-container img {
  width: 45%;
  transform: rotate(280deg);
}
.moon-container {
  position: absolute;
  top: -30vh;
  right: 5vw;
  z-index: 0;
}
.moon-container img {
  width: 100%;
}
.form-container {
  display: flex;
  width: 27vw;
  height: 65vh;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(8px);
}
.form-container h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
.input-box label {
  font-size: 1.3rem;
  color: var(--purp);
}
.input-box input {
  font-family: inherit;
  font-size: 1.2rem;
  color: whitesmoke;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--purp);
  padding: 0 0 0.5rem 0.3rem;
}
.message-box {
  font-size: 1.3rem;
  display: flex;
  color: var(--purp);
  flex-direction: column;
}
.message-box label {
  margin-bottom: 0.7rem;
}
.message-box textarea {
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  height: 20vh;
  resize: none;
  border-radius: 20px;
  border-style: none;
  outline: none;
  margin-bottom: 1rem;
}
.button-box {
  display: flex;
  justify-content: center;
}
.submitbtn {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--purp);
  height: 4vh;
  width: 80%;
  border: none;
  border-radius: 10px;
}
.submitbtn:hover {
  background-color: #535bf2;
}
.form-1 {
  /* width: 40vw; */
  width: 100%;
  padding: 2rem;
}
.form-picture {
  display: flex;
  overflow: hidden;
}
.form-picture img {
  width: 100%;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.confirmation-box {
  color: green;
  margin-top: 1rem;
  text-align: center;
}
.confirmation-box p {
  animation: fadeIn 0.5s ease-out forwards;
}
.show {
  display: flex;
}

@media (max-width: 1500px), (max-height: 860px) {
  .form-container {
    width: 32vw;
    height: 70vh;
  }
  .contact-container {
    background-position: 50% -52%;
  }
  .sat-container img {
    width: 32%;
  }
  .moon-container {
    top: -13vh;
  }
  .moon-container img {
    width: 80%;
  }
}
